
@{
    ViewData["PageTitle"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Uploads" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit" class="btn btn-primary btn-raised">Upload File</button>
</form>

