@{
    ViewData["PageTitle"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Landing Page</h1>
    <p>COMP 4911 eRUPt Software Solutions</p>
    <button class="btn btn-raised btn-primary">Test Button</button>
</div>
