@model COMP4911Timesheets.Models.Project

@{
    ViewData["PageTitle"] = "Edit";
}

<h1>@ViewData["PageTitle"]</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-8 col-lg-6 well bs-component">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="ProjectCode" class="control-label"></label>
                <input asp-for="ProjectCode" class="form-control" />
                <span asp-validation-for="ProjectCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostingProposal" class="control-label"></label>
                <input asp-for="CostingProposal" class="form-control" />
                <span asp-validation-for="CostingProposal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginalBudget" class="control-label"></label>
                <input asp-for="OriginalBudget" class="form-control" />
                <span asp-validation-for="OriginalBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-raised" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}