@page
@model ForgotPasswordConfirmation
@{
    ViewData["PageTitle"] = "Forgot password confirmation";
}

<h1>@ViewData["PageTitle"]</h1>
<p>
    Please check your email to reset your password.
</p>

